.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 5px 5px 10px 9px rgba(0, 0, 0, 0.1);
}
